Are you sure you want to delete this workout? When it's gone, it's gone.
<div class="actions">
  <button id="delete-workout" class="confirm-action" {{action delete}}>Delete</button>
  {{#linkTo 'workout' id classNames="abort-action"}}Cancel{{/linkTo}}
</div>
