Are you sure you want to delete this goal? When it's gone, it's gone.
<div class="actions">
  <button id="delete-goal" class="confirm-action" {{action delete}}>Delete</button>
  {{#linkTo 'goal' id classNames="abort-action"}}Cancel{{/linkTo}}
</div>
