<ul id="workouts-list" class="inner">
  {{#each item in controller}}
    <li>
        <h4>{{#linkTo 'workout' item.id}}{{item.title}}{{/linkTo}}</h4>
        <div class="date">{{item.formattedDate}}</div>
        <div class="length">
          {{item.user.name}} worked out for <span class="duration">{{item.workoutLength}}.</span>
        </div>
    </li>
  {{/each}}
</ul>

