// Breakpoint definitions.

// Nav breakpoints.
$bp-nav-horizontal: 500px;
$bp-nav-workout-controls-smaller: 700px;

// About breakpoints
$bp-about-big: 500px;

// Form breakpoints.
$bp-forms-smaller-errors: 600px;

