<header>
  <h1>My Yoga!</h1>
</header>
<nav>
  <ul>
    <li><a href="/">Home</a>
    <li><a href="/#/workouts">My Workouts</a>
    <li><a href="/#/workouts/new">New Workout</a>
  </ul>
</nav>

<div class="main">
  {{outlet}}
</div>
