<div id="main">
  <header class="inner">
    {{#linkTo 'index'}}<h1>Yava</h1>{{/linkTo}}
  </header>
  <nav id="nav">
    <ul>
      {{#if loggedIn}}
        <li>{{#linkTo 'workouts'}}Workouts{{/linkTo}}
        <li>{{#linkTo 'goals'}}Goals{{/linkTo}}
        <li>{{#linkTo 'workouts.new'}}New Workout{{/linkTo}}
        <li>{{#linkTo 'logout'}}Log out{{/linkTo}}
      {{else}}
        <li>{{#linkTo 'login'}}Log in{{/linkTo}}
      {{/if}}
    </ul>
  </nav>

  <div class="main-content">
    {{outlet}}
    {{outlet modal}}
  </div>
</div>
