<div id="main">
  <header class="inner">
    <h1>Yava</h1>
  </header>
  <nav id="nav">
    <ul>
      <li>{{#linkTo 'index'}}Home{{/linkTo}}
      {{#if loggedIn}}
        <li>{{#linkTo 'workouts'}}Workouts{{/linkTo}}
        <li>{{#linkTo 'workouts.new'}}New Workout{{/linkTo}}
      {{else}}
        <li>{{#linkTo 'login'}}Log in{{/linkTo}}
      {{/if}}
    </ul>
  </nav>

  <div class="main">
    {{outlet}}
  </div>
</div>
