<nav id="goal-controls">
  <ul>
    <li>{{#linkTo 'goal' id}}View{{/linkTo}}
    <li>{{#linkTo 'goal.delete' id class="last"}}Delete{{/linkTo}}
  </ul>
</nav>
<div id="goal" class="inner">
  {{outlet}}
</div>
