<nav id="subnav">
  <ul>
    <li>{{#linkTo 'goals'}}My Goals{{/linkTo}}
    <li>{{#linkTo 'past'}}Past Goals{{/linkTo}}
    <li>{{#linkTo 'goals.new'}}New Goal{{/linkTo}}
  </ul>
</nav>
<div id="goals">
  {{outlet}}
</div>
