<div class="inner">
  <p>Yava means "measure of length" and "velocity" in sanskrit. We want to help you measure
  your proactice's velocity by providing easy to use trackng tools.</p>

  <p>Set goals, keep notes, and get an overview of where you've been and where you want to go!</p>
</div>
