<nav id="subnav">
  <ul>
    <li>{{#linkTo 'past.index'}}Past Goals{{/linkTo}}
    <li>{{#linkTo 'past.attempted'}}Attempted Goals{{/linkTo}}
    <li>{{#linkTo 'past.completed'}}Completed Goals{{/linkTo}}
  </ul>
</nav>
<div id="goals">
  {{outlet}}
</div>
