{{#if mine}}
  <nav id="workout-controls">
    <ul>
      <li>{{#linkTo 'workout' id}}View{{/linkTo}}
      <li>{{#linkTo 'workout.edit' id}}Edit{{/linkTo}}
      <li>{{#linkTo 'workout.delete' id}}Delete{{/linkTo}}
    </ul>
  </nav>
{{/if}}
<div id="workout" class="inner">
  {{outlet}}
</div>
